@import url('https://fonts.googleapis.com/css?family=Ledger&display=swap');
@import url('https://fonts.googleapis.com/css?family=Varela&display=swap');

// navbar
$primary-text: Ledger, 'Times New Roman', Times, serif; 
//$navColor: #283044;
$navColor: #283044;
$primary-text-color: #EBF5EE;
$font-size: 18px;

// header
$light-grey: #e9ecef;
$header-bgcolor: #253C78;
$header-font: Varela, Verdana, sans-serif;

// content
$content-bgcolor: #BFA89E;

//footer
$footer-bgcolor: #7CA5B8;